<div id="wrap">

  <header class="masthead">
    <div class="logo">Kindr Project</div>
  </header>


  <!-- Fixed navbar -->
  <%= render partial: '/nav_bar' %>

  <!-- Begin page content -->
  <%= render partial: '/search' %>

  <h2 class="dispensary_title_show title"><%= @dispensary.name %></h2>
  <h4 class="dispensary_title_show title"><%= @dispensary.website %></h4> 
  <h4 class="dispensary_title_show title"><%= @dispensary.phone_number %> </h4>

  <div class="bg-4">
    <div class="container" id="all_dispensary_strains">
      <%= render @dispensary_strains %>
    </div><!--/container-->
  </div>
