<!-- Wrap all page content here -->
<div id="wrap">


  <header class="masthead">
    <%= render partial: '/carousel'%>
  </header>


  <!-- Fixed navbar -->
  <%= render partial: '/nav_bar', locals: {dispensaries: @dispensaries}%>

  <!-- hidden user task form -->
  <div id="user_task_form" style="display:none;"></div>

  <!-- Begin page content -->

  <%= render partial: '/search'%>

  <div class="bg-4">
    <div class="container" id="random_dispensaries">

      <!-- <<<<<<<<<<<CHART>>>>>>>>>>> -->
      <% @dispensaries.sample(3).each do |disp| %>
        <% strain = disp.dispensary_strains.sample %>
          <div class="chart">
            <h3 class="dispensary_title_show title"><%= link_to "#{disp.name}", dispensary_path(disp) %></h3>
            <h4 class="strain_title_show title"><%= link_to "#{strain.strain.name}", dispensary_dispensary_strain_path(disp, strain) %></h4>

              <%= strain.top_five[4][0] %>:
              <%= strain.top_five[4][1] %>
            <div class="first" style="width: <%= (strain.top_five[4][1] * 35)%>px;">
            </div>
              <%= strain.top_five[3][0] %>:
              <%= strain.top_five[3][1] %>
            <div class="second" style="width: <%= (strain.top_five[3][1] * 35)%>px;">
            </div>
              <%= strain.top_five[2][0] %>:
              <%= strain.top_five[2][1] %>
            <div class="third" style="width: <%= (strain.top_five[2][1] * 35)%>px;">
            </div>
              <%= strain.top_five[1][0] %>:
              <%= strain.top_five[1][1] %>
            <div class="fourth" style="width: <%= (strain.top_five[1][1] * 35)%>px;">
            </div>
              <%= strain.top_five[0][0] %>:
              <%= strain.top_five[0][1] %>
            <div class="fifth" style="width: <%= (strain.top_five[0][1] * 35)%>px;">
            </div>
            <div class="button btn-default text-center"><%= link_to "Rate #{strain.strain.name}'s version of #{disp.name}",dispensary_dispensary_strain_new_user_choice_collection_path(disp, strain) %>
            </div>
          </div>
      <% end  %>
      <!-- <<<<<<<<<<<Chart>>>>>>>>>>>>> -->

    </div><!--/container-->
  </div>

  <div class="divider" id="section4"></div>

  <div class="row">
    <div class="col-md-8 col-md-offset-1"></div>
  </div><!--/row-->

  <div class="row">
    <hr>
  </div>

  <div class="col-sm-10 col-sm-offset-1">
    <h1>Location</h1>
  </div>

  <div id="map-canvas"></div>

  <hr>

<!-- <div id="mainBubble" style="height: 784px;">
  <svg class="mainBubbleSVG" width="1118.8719999999998" height="784">
    <text id="bubbleItemNote" x="10" y="544.4359999999999" font-size="12" dominant-baseline="middle" alignment-baseline="middle" style="fill: rgb(136, 136, 136);">
      D3.js bubble menu developed by Shipeng Sun (sunsp.gis@gmail.com), Institute of Environment, University of Minnesota, and University of Springfield, Illinois.
    </text>
  </svg>
</div> -->
