<h1>Login</h1>
<div class="dope-forms">
  <%= form_for(:session, url: login_path, method: "put", class: "dope-forms") do |f| %>
    <%=f.label :email %>
    <%=f.email_field :email%>
    <%=f.label :password %>
    <%=f.password_field :password %>
    <%=f.submit "Login"%>
  <% end %>
</div>
<div>
  Don't have an account yet?  <%= link_to "Sign up here!", '/signup' %>
</div>
