<div class="chart" id="dispensary_strain_show">

	<h4 class="disp_strain_show"><a href="#"/> <%= @dispensary_strain.strain.name %> </a> </h4>

  <div class="weed_image"> <%= image_tag(dispensary_strain.strain.photo_url, size: "200x200") %></div>

    <%= @dispensary_strain.top_five[4][0] %>:
    <%= @dispensary_strain.top_five[4][1] %>
  <div class="first" style="width: <%= (@dispensary_strain.top_five[4][1] * 35)%>px;">
  </div>
    <%= @dispensary_strain.top_five[3][0] %>:
    <%= @dispensary_strain.top_five[3][1] %>
  <div class="second" style="width: <%= (@dispensary_strain.top_five[3][1] * 35)%>px;">
  </div>
    <%= @dispensary_strain.top_five[2][0] %>:
    <%= @dispensary_strain.top_five[2][1] %>
  <div class="third" style="width: <%= (@dispensary_strain.top_five[2][1] * 35)%>px;">
  </div>
    <%= @dispensary_strain.top_five[1][0] %>:
    <%= @dispensary_strain.top_five[1][1] %>
  <div class="fourth" style="width: <%= (@dispensary_strain.top_five[1][1] * 35)%>px;">
  </div>
    <%= @dispensary_strain.top_five[0][0] %>:
    <%= @dispensary_strain.top_five[0][1] %>
  <div class="fifth" style="width: <%= (@dispensary_strain.top_five[0][1] * 35)%>px;">
  </div>
  <div style="bu"><%= link_to "Rate #{@dispensary_strain.strain.name}",dispensary_dispensary_strain_new_user_choice_collection_path(@dispensary_strain.dispensary, @dispensary_strain), class: "btn btn-success text-center"%>
  </div>
</div>
