<div class='col-sm-4 col-xs-6'>
  <div class='dispensary_item'>
    <h4 class='dispensary_item_name'>
      <%= link_to dispensary_strain.strain.name, dispensary_dispensary_strain_path(@dispensary, dispensary_strain) %>
    </h4>
  </p><p>
  <div class='panel-thumbnail'>
    <!-- <a href='#' title='Ratings'> -->

    <!-- CHART -->
    <div class="chart">
      <div class="first" style="width: <%= (dispensary_strain.top_five[4][1] * 35)%>px;">
        <%= dispensary_strain.top_five[4][0] %>:
        <%= dispensary_strain.top_five[4][1] %>
      </div>
      <div class="second" style="width: <%= (dispensary_strain.top_five[3][1] * 35)%>px;">
        <%= dispensary_strain.top_five[3][0] %>:
        <%= dispensary_strain.top_five[3][1] %>
      </div>
      <div class="third" style="width: <%= (dispensary_strain.top_five[2][1] * 35)%>px;">
        <%= dispensary_strain.top_five[2][0] %>:
        <%= dispensary_strain.top_five[2][1] %>
      </div>
      <div class="fourth" style="width: <%= (dispensary_strain.top_five[1][1] * 35)%>px;">
        <%= dispensary_strain.top_five[1][0] %>:
        <%= dispensary_strain.top_five[1][1] %>
      </div>
      <div class="fifth" style="width: <%= (dispensary_strain.top_five[0][1] * 35)%>px;">
        <%= dispensary_strain.top_five[0][0] %>:
        <%= dispensary_strain.top_five[0][1] %>
      </div>
    </div>
    <!-- CHART -->

    <!-- </a> -->
  </div>


  <!-- <img src='//placehold.it/600x400/444/F8F8F8' class='img-responsive'/> -->
</div>
</div>



