<%= form_for @dispensary_strain, url: {action: "create_user_choice_collection", controller: "users", method: "post"} do |f| %>
<% @choices.each do |choice| %>
<%= f.fields_for :user_choices, [UserChoice.new] do |user_choice| %>
<%= user_choice.label (choice.name) %>
<%= user_choice.text_field :rating %><br>
<% end %>
<% end  %>
<%= f.submit %>
<% end %>

<%= form_for @person, url: {action: "create"} do |person_form| %>
<%= person_form.text_field :name %>
<%= fields_for @person.contact_detail do |contact_details_form| %>
<%= contact_details_form.text_field :phone_number %>
<% end %>
<% end %>

<%= form_for @person do |f| %>
Addresses:
<ul>
  <%= f.fields_for :addresses do |addresses_form| %>
  <li>
    <%= addresses_form.label :kind %>
    <%= addresses_form.text_field :kind %>

    <%= addresses_form.label :street %>
    <%= addresses_form.text_field :street %>
    ...
  </li>
  <% end %>
</ul>
<% end %>

<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Rate Strain</legend>

    <!-- Multiple Radios (inline) -->
    <div class="control-group">
      <label class="control-label" for="radios">Inline Radios</label>
      <div class="controls">
        <label class="radio inline" for="radios-0">
          <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
          1
        </label>
        <label class="radio inline" for="radios-1">
          <input type="radio" name="radios" id="radios-1" value="2">
          2
        </label>
        <label class="radio inline" for="radios-2">
          <input type="radio" name="radios" id="radios-2" value="3">
          3
        </label>
        <label class="radio inline" for="radios-3">
          <input type="radio" name="radios" id="radios-3" value="4">
          4
        </label>
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="singlebutton">Single Button</label>
      <div class="controls">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
      </div>
    </div>

  </fieldset>
</form>
