<%= form_for @dispensary_strain, url: {action: "create_user_choice_collection", controller: "users", method: "post"} do |f| %>
Effects to choose:
<ul>
  <%= f.fields_for :user_choices do |user_choice_form| %>
  <li>
    <%= user_choice_form.object.choice.name if user_choice_form.object.choice %>
    <%= user_choice_form.label :rating %>
    <%= user_choice_form.radio_button(:rating, "1") %>
    <%= user_choice_form.radio_button(:rating, "2") %>
    <%= user_choice_form.radio_button(:rating, "3") %>
    <%= user_choice_form.radio_button(:rating, "4") %>
    <%= user_choice_form.radio_button(:rating, "5") %>
    <%= user_choice_form.radio_button(:rating, "6") %>
    <%= user_choice_form.radio_button(:rating, "7") %>
    <%= user_choice_form.radio_button(:rating, "8") %>
    <%= user_choice_form.radio_button(:rating, "9") %>
    <%= user_choice_form.radio_button(:rating, "10") %>
    <%= user_choice_form.radio_button(:rating, "11") %>
  </li>
  <% end %>
</ul>
<%= f.submit %>
<% end %>


