
<!-- Fixed navbar -->
<%= render partial: '/home/nav_bar' %>

<div class="container">
  <br><br><br><br>

  <div id="rating_form_container" class="col-md-6">
    <div class="jumbotron">
      <div>
        <h3 class=""><%=@dispensary.name%></h3>
      </div>
      <div>
        <h4 class="fa fa-line-chart">Rate the <%= @dispensary_strain.strain.name%> at <%=@dispensary.name%>
        </h4>
      </div>

      <div>

        <%= form_for @dispensary_strain, url: dispensary_dispensary_strain_user_choice_collection_path(@dispensary, @dispensary_strain), method: "post", html: {class: "nifty_form"} do |f| %>
        <ul class="list-group">
          <%= f.fields_for :user_choices do |user_choice_form| %>
          <% if user_choice_form.object.id.nil? %>
          <li class="list-group-item ">
            <%= user_choice_form.hidden_field :choice_id %>
            <%= user_choice_form.hidden_field :dispensary_strain_id %>

            <h3><%= user_choice_form.object.choice.category %></h3>

            <div  class="btn-group " role="group" aria-label="...">

              <h4 class=""><%= user_choice_form.object.choice.name if user_choice_form.object.choice %></h4>
              <%= label_tag(:rating, "1", class: "inline control-label ") %>
              <%= user_choice_form.radio_button(:rating, "1") %>
              <%= label_tag(:rating, "2", class: "inline control-label ") %>
              <%= user_choice_form.radio_button(:rating, "2") %>
              <%= label_tag(:rating, "3", class: "inline control-label ") %>
              <%= user_choice_form.radio_button(:rating, "3") %>
              <%= label_tag(:rating, "4", class: "inline control-label ") %>
              <%= user_choice_form.radio_button(:rating, "4") %>
              <%= label_tag(:rating, "5", class: "inline control-label ") %>
              <%= user_choice_form.radio_button(:rating, "5") %>
              <%= label_tag(:rating, "6", class: "inline control-label ") %>
              <%= user_choice_form.radio_button(:rating, "6") %>
              <%= label_tag(:rating, "7", class: "inline control-label ") %>
              <%= user_choice_form.radio_button(:rating, "7") %>
              <%= label_tag(:rating, "8", class: "inline control-label ") %>
              <%= user_choice_form.radio_button(:rating, "8") %>
              <%= label_tag(:rating, "9", class: "inline control-label ") %>
              <%= user_choice_form.radio_button(:rating, "9") %>
              <%= label_tag(:rating, "10", class: "inline control-label ") %>
              <%= user_choice_form.radio_button(:rating, "10") %>
            </div>
          </li>
          <% end %>
          <!--  </div> -->
        </ul>

        <% end %>
        <div class="panel-footer text-center form-body">
          <%= f.submit("Submit", class: "btn btn-info btn-block btn-sm")%>
        </div>
        <% end %>


      </div>
    </div>
  </div>
</div>



