<!-- Wrap all page content here -->
#wrap
  %header.masthead
    = render partial: 'carousel'
  / Fixed navbar
  = render partial: 'nav_bar', locals: {dispensaries: @dispensaries}
  / hidden user task form
  #user_task_form{:style => "display:none;"}
  / Begin page content
  .bg-4
    #random_dispensaries.container
      / <<<<<<<<<<<CHART>>>>>>>>>>>
      - @dispensaries.sample(3).each do |disp|
        - strain = disp.dispensary_strains.sample
        .chart
          %h3.dispensary_title_show.title= link_to "#{disp.name}", dispensary_path(disp)
          %h4.strain_title_show.title= link_to "#{strain.strain.name}", dispensary_dispensary_strain_path(disp, strain)
          = strain.top_five[4][0]
          \:
          \#{strain.top_five[4][1]}
          .first{:style => "width: #{(strain.top_five[4][1] * 35)}px;"}
          = strain.top_five[3][0]
          \:
          \#{strain.top_five[3][1]}
          .second{:style => "width: #{(strain.top_five[3][1] * 35)}px;"}
          = strain.top_five[2][0]
          \:
          \#{strain.top_five[2][1]}
          .third{:style => "width: #{(strain.top_five[2][1] * 35)}px;"}
          = strain.top_five[1][0]
          \:
          \#{strain.top_five[1][1]}
          .fourth{:style => "width: #{(strain.top_five[1][1] * 35)}px;"}
          = strain.top_five[0][0]
          \:
          \#{strain.top_five[0][1]}
          .fifth{:style => "width: #{(strain.top_five[0][1] * 35)}px;"}
          %div
            = link_to "Rate #{strain.strain.name}",dispensary_dispensary_strain_new_user_choice_collection_path(disp, strain), class: "btn btn-success text-center"
      / <<<<<<<<<<<Chart>>>>>>>>>>>>>
    / /container
  #section3.divider
  .row
    .col-md-8.col-md-offset-1
  / /row
  .col-sm-10.col-sm-offset-1
    %h1 Locations of Our Dispensaries
    %iframe{:frameborder => "0", :height => "400", :src => "https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d196281.64169563106!2d-104.85511145!3d39.764338949999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdispensaries+denver!5e0!3m2!1sen!2sus!4v1429821066201", :style => "border:0", :width => "1000"}
  #map-canvas
  %hr/
